<div>
  <h1>ViewChild/ViewChildren</h1>
  <label>Input: </label>
  <input #inputFocus1 />
  <br />
  <br />
  <label>Input: </label>
  <input #inputFocus2 />
  <br />
  <br />
  <toggle-d10
    [(checked)]="btn1"
    (checkedChange)="handleChangeToogle1()"
  ></toggle-d10>
  <button (click)="toggleComp1.toggle()">Button Toggle</button>
  <br />
  <br />
  <toggle-d10
    #toggleComp2
    [(checked)]="btn2"
    (checkedChange)="handleChangeToogle2()"
  ></toggle-d10>
  <button #toggleBtn (click)="toggleComp2.toggle()">Toggle Button 2</button>
</div>
<div>
  <toggle-d10 [(checked)]="btn3"></toggle-d10>
  <toggle-d10 [(checked)]="btn3"></toggle-d10>
  <toggle-d10 [(checked)]="btn3"></toggle-d10>
  <toggle-d10 [(checked)]="btn3"></toggle-d10>
  <toggle-d10 [(checked)]="btn3"></toggle-d10>
</div>
